@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-list-item::before {
  content: "";
  display: inline-block;
  width: 40px; /* Set the width of your custom list image */
  height: 40px; /* Set the height of your custom list image */
  background-image: url("/assets/icons/dot.png"); /* Replace with the URL of your image */
  background-size: cover;
  background-position: center;
  margin-right: 5px; /* Add some space between the image and text */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #00093f;
}
